{% extends 'base.html' %}
{% load static %}
{% block contenido %}
    <div class="contenedor-principal-formularios">
        <div class="contenedor-contacto">
            <h1>Formulario de contacto:</h1>
            <form class="formularios_contenido" method="post" action="{% url 'contacto' %}" class="email-contacto">
                {% csrf_token %}
                {{ contacto_form.errors }}
                {{ contacto_form.as_ul }}
                <input class="enviar-mensaje" type="submit" value="Enviar mensaje">
            </form>
        </div>
    </div>
{% endblock %}