{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css'%}" />
    <link rel="stylesheet" href="{% static 'css/normalize.css'%}" />
    <title>Landing page E2</title>
</head>
<body>
    <header>
        <div class="navegacion">
            <nav class="nav-principal">
                <a href="{% static '../empresaDjango/pedido' %}">
                  <img src="{% static 'images/DEUSTRONIC.png' %}" alt="Logo Tienda" />
                </a>
                <ul class="elementos-navegacion">
                  <li>
                    <a href="/empresaDjango/pedido">Gestión de pedidos</a>
                  </li>
                  <li>
                    <a href="empresaDjango/index_producto.html">Gestión de productos</a>
                  </li>
                  <li>
                    <a href="empresaDjango/index_cliente.html">Gestión de clientes</a>
                  </li>
                </ul>
            </nav>
        </div>
    </header>

    <main>

        <div class="contenedor-principal-detail-productos">
            <div class="contenedor-central">
            <h1>Detalle del producto:</h1>
                <table class="detalle-productos">
                    <tr>
                        <td>Código del producto</td>
                        <td>:</td>
                        <td>{{ producto.cod_producto }}</td>
                    </tr>
                    <tr>
                        <td>Nombre</td>
                        <td>:</td>
                        <td>{{ producto.nombre_producto }}</td>
                    </tr>
                    <tr>
                        <td>Modelo</td>
                        <td>:</td>
                        <td>{{ producto.modelo }}</td>
                    </tr>
                    <tr>
                        <td>Categoría</td>
                        <td>:</td>
                        <td>{{ producto.categoria.nombre_categoria }}</td>
                    </tr>
                    <tr>
                        <td>Precio unitario</td>
                        <td>:</td>
                        <td>{{ producto.precio_unidad }}€</td>
                    </tr>
                    <tr>
                        <td>Descripción</td>
                        <td>:</td>
                        <td>{{ producto.descripcion }}</td>
                    </tr>
                </table>
            </div>
        </div>

     </main>

     <footer>
        <div class="contenido-footer">
            <p class="copyright">Todos los derechos reservados</p>
            <img src="{% static 'images/DEUSTRONIC.png'%}" alt="Logo Tienda" />
        </div>
    </footer>


</body>
</html>