{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css'%}" />
    <link rel="stylesheet" href="{% static 'css/normalize.css'%}" />
    <title>Página de detalles de pedidos E2</title>
</head>
<body>
    <header>
        <div class="navegacion">
            <nav class="nav-principal">
                <a href="{% url 'index_ped' %}">
                  <img src="{% static 'images/DEUSTRONIC.png' %}" alt="Logo Tienda" />
                </a>
                <ul class="elementos-navegacion">
                  <li>
                    <a href="{% url 'index_ped' %}">Gestión de pedidos</a>
                  </li>
                  <li>
                    <a href="{% url 'index_pro' %}">Gestión de productos</a>
                  </li>
                  <li>
                    <a href="{% url 'index_cli' %}">Gestión de clientes</a>
                  </li>
                </ul>
            </nav>
        </div>
    </header>

    <main>

        <div class="contenedor-principal-detail">
            <div class="contenedor-central">
            <h1>Detalles del pedido:</h1>
                <table class="detalle-pedidos">
                    <tr>
                        <td>Código de pedido</td>
                        <td>:</td>
                        <td>{{ pedido.cod_pedido }}</td>
                    </tr>
                    <tr>
                        <td>Cliente</td>
                        <td>:</td>
                        <td>{{ pedido.cliente.nombre_empresa }}</td>
                    </tr>
                    <tr>
                        <td>Fecha</td>
                        <td>:</td>
                        <td>{{ pedido.fecha|date:"d/m/Y" }}</td>
                    </tr>

                    {% for detalle in detalles_pedido %}
                    <tr>
                        <td>Producto {{ forloop.counter }}</td>
                        <td>:</td>
                        <td> <a href="{% url 'detail_pro' detalle.producto.cod_producto %}"> {{ detalle.producto.nombre_producto }} </a> </td>
                        <td>:</td>
                        <td>{{ detalle.cantidad }} unidades</td>
                        <td> <div class="boton_actualizar"> <a  href="{% url 'actualizar_productoEnPedido' pedido.cod_pedido %}"> Actualizar </a> </div></td>
                    </tr>
                    {% endfor %}

                    <tr>
                        <td>Precio total</td>
                        <td>:</td>
                        <td>{{ pedido.precio_total }}€</td>
                    </tr>
                </table>
            </div>
        </div>

     </main>

     <footer>
        <div class="contenido-footer">
            <p class="copyright">Todos los derechos reservados</p>
            <img src="{% static 'images/DEUSTRONIC.png'%}" alt="Logo Tienda" />
        </div>
    </footer>

    
</body>
</html>