{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css'%}" />
    <link rel="stylesheet" href="{% static 'css/normalize.css'%}" />
    <title>Página de detalle de clientes E2</title>
</head>
<body>
    <header>
        <div class="navegacion">
            <nav class="nav-principal">
                <a href="{% url 'index_ped' %}">
                  <img src="{% static 'images/DEUSTRONIC.png' %}" alt="Logo Tienda" />
                </a>
                <ul class="elementos-navegacion">
                  <li>
                    <a href="{% url 'index_ped' %}">Gestión de pedidos</a>
                  </li>
                  <li>
                    <a href="{% url 'index_pro' %}">Gestión de productos</a>
                  </li>
                  <li>
                    <a href="{% url 'index_cli' %}">Gestión de clientes</a>
                  </li>
                </ul>
            </nav>
        </div>
    </header>

    <main>

        <div class="contenedor-principal-detail">
            <div class="contenedor-central">
            <h1>Detalles del cliente:</h1>
                <table class="detalle-clientes">
                    <tr>
                        <td>CIF</td>
                        <td>:</td>
                        <td>{{ cliente.cif }}</td>
                    </tr>
                    <tr>
                        <td>Nombre de la empresa:</td>
                        <td>:</td>
                        <td>{{ cliente.nombre_empresa }}</td>
                    </tr>
                    <tr>
                        <td>Dirección</td>
                        <td>:</td>
                        <td>{{ cliente.direccion }}</td>
                    </tr>
                    <tr>
                        <td>Contacto:</td>
                        <td>:</td>
                        <td>{{ cliente.contacto }}</td>
                    </tr>
                </table>
            </div>
        </div>

     </main>

     <footer>
        <div class="contenido-footer">
            <p class="copyright">Todos los derechos reservados</p>
            <img src="{% static 'images/DEUSTRONIC.png'%}" alt="Logo Tienda" />
        </div>
    </footer>

    
</body>
</html>