{% extends 'base.html' %}
{% load static %}
{% block contenido %}

    <div class="contenedor-principal-detail">
        <div class="contenedor-central">
            <h1>Detalles del pedido:</h1>
            <table class="detalle-pedidos">
                <tr>
                    <td>Código de pedido</td>
                    <td>:</td>
                    <td>{{ pedido.cod_pedido }}</td>
                </tr>
                <tr>
                    <td>Cliente</td>
                    <td>:</td>
                    <td>{{ pedido.cliente.nombre_empresa }}</td>
                </tr>
                <tr>
                    <td>Fecha</td>
                    <td>:</td>
                    <td>{{ pedido.fecha|date:"d/m/Y" }}</td>
                </tr>
                <tr>
                    <td>PRODUCTOS</td>
                    <td><a class="boton_mostrar" id="mostrar">Mostrar todos</a></td>
                </tr>
                {% for detalle in detalles_pedido %}
                    <tr class="productos_mostrar">
                        <td>Producto {{ forloop.counter }}</td>
                        <td>:</td>
                        <td>
                            <a href="{% url 'detail_pro' detalle.producto.cod_producto %}"> {{ detalle.producto.nombre_producto }} </a>
                        </td>
                        <td>:</td>
                        <td>{{ detalle.cantidad }} unidades</td>

                        <td>
                            <div class="boton_actualizar boton"><a
                                    href="{% url 'actualizar_productoEnPedido' pedido.cod_pedido %}"> Actualizar </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                <td class="celda_ocult"><a class="boton_ocultar" id="ocultar">Ocultar todos</a></td>
                <tr>
                    <td>Precio total</td>
                    <td>:</td>
                    <td>{{ pedido.precio_total }}€</td>
                </tr>
                <!--<tr>
                    <td>Estado</td>
                    <td>:</td>
                    <td>
                        {{ pedido.estado }}
                    </td>
                </tr>-->
            </table>
        </div>
    </div>

{% endblock %}