{% extends 'base.html' %}
{% load static %}
{% block contenido%}

        <div class="contenedor-principal-index">
            <div class="parte-izquierda">
                <img src="{% static 'images/Escritorio.jpeg'%}" alt="Foto con artículos tecnológicos en un escritorio" />
            </div>
            <div class="parte-derecha">
            <h1>Listado de clientes:</h1>
                <ul>
                    {% for c in listado_clientes %}
                    <li class="listados">
                        <a href="{% url 'detail_cli' c.cif %}">
                        {{ c.cif }}: {{ c.nombre_empresa }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                     <div class="boton_crear_clientes">
                        <a  href="{% url 'cliente_create' %}"> + </a>
                     </div>
            </div>
        </div>

{% endblock %}