{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css'%}" />
    <link rel="stylesheet" href="{% static 'css/normalize.css'%}" />
    <title>Gestion de clientes e2</title>
</head>
<body>
    <header>
        <div class="navegacion">
            <nav class="nav-principal">
                <a href="{% url 'index_ped' %}">
                  <img src="{% static 'images/DEUSTRONIC.png' %}" alt="Logo Tienda" />
                </a>
                <ul class="elementos-navegacion">
                  <li>
                    <a href="{% url 'index_ped' %}">Gestión de pedidos</a>
                  </li>
                  <li>
                    <a href="{% url 'index_pro' %}">Gestión de productos</a>
                  </li>
                  <li>
                    <a href="{% url 'index_cli' %}"> Gestión de clientes</a>
                  </li>
                </ul>
            </nav>
        </div>
    </header>

    <main>

        <div class="contenedor-principal-index">
            <div class="parte-izquierda">
                <img src="{% static 'images/Escritorio.jpeg'%}" alt="Foto con artículos tecnológicos en un escritorio" />
            </div>
            <div class="parte-derecha">
            <h1>Listado de clientes:</h1>
                <ul>
                    {% for c in listado_clientes %}
                    <li class="listados">
                        <a href="{% url 'detail_cli' c.cif %}">
                        {{ c.cif }}: {{ c.nombre_empresa }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>

            </div>
        </div>


     </main>

    <footer>
        <div class="contenido-footer">
            <p class="copyright">Todos los derechos reservados</p>
            <img src="{% static 'images/DEUSTRONIC.png'%}" alt="Logo Tienda" />
        </div>
    </footer>
</body>
</html>