{% extends 'base.html' %}
{% load static %}
{% block contenido %}

    <div class="contenedor-principal-index">
        <div class="parte-izquierda">
            <img src="{% static 'images/productos.webp' %}" alt="Foto con diferentes productos tecnológicos"/>
        </div>
        <div class="parte-derecha">
             <form class="formularios_contenido formulario-filtrar" action="{% url 'index_pro' %}" method="get">
            {{ formulario.errors }}
            {{ formulario.as_ul }}
            <input class="boton_nuevo" type="submit" value="Filtrar">
                </form>
            <h1>Listado de productos:</h1>
            {% if mensaje %}
                <div class="producto_eliminado" role="alert">
                    <a> Producto elimindo exitosamente</a>
                </div>
            {% endif %}
            <table class="listados">
                {% for pr in listado_productos %}
                    <tr>
                        <td>
                            <a href="{% url 'detail_pro' pr.cod_producto %}">
                                {{ pr.cod_producto }}: {{ pr.nombre_producto }} {{ pr.modelo }}
                            </a>
                        </td>
                        <td><div class="boton_borrar"><a href="{% url 'borrar_producto' pr.cod_producto %}"> Borrar </a></div></td>
                    </tr>
                {% endfor %}
            </table>

                {% if is_paginated %}
                    <div class="contenedor-paginacion">
                        <ul class="paginacion">
                            {% if page_obj.has_previous %}
                                <li class="pagina">
                                <a href="?{{ request.GET.urlencode }}&page={{ page_obj.previous_page_number }}">Anterior</a>
                                </li>
                            {% endif %}

                            {% for pagina in paginator.page_range %}
                                {% if page_obj.number == pagina %}
                                    <li class="pagina pagina-actual">
                                        <a href="?{{ request.GET.urlencode }}&page={{ pagina }}">{{ pagina }}</a>
                                    </li>
                                {% else %}
                                    <li class="pagina">
                                        <a href="?{{ request.GET.urlencode }}&page={{ pagina }}">{{ pagina }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}

                            {% if page_obj.has_next %}
                                <li class="pagina">
                                    <a href="?{{ request.GET.urlencode }}&page={{ page_obj.next_page_number }}">Siguiente</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                {% endif %}

            <div class="boton_crear">
                <a href="{% url 'producto_create' %}"> + </a>
            </div>
        </div>
    </div>

{% endblock %}