{% extends 'base.html' %}
{% load static %}
{% block contenido %}

    <div class="contenedor-principal-index">
        <div class="parte-izquierda">
            <img src="{% static 'images/clientes.jpg' %}" alt="Foto representando un trato con clientes"/>
        </div>
        <div class="parte-derecha">
            <h1>Listado de clientes:</h1>
            <table class="listados">
                {% for c in listado_clientes %}
                    <tr>
                        <td>
                            <a href="{% url 'detail_cli' c.cif %}">
                                {{ c.cif }}: {{ c.nombre_empresa }}
                            </a>
                        </td>
                        <td><div class="boton_borrar"><a href="{% url 'borrar_cliente' c.cif %}"> Borrar </a></div></td>
                    </tr>
                {% endfor %}
            </table>
            <div class="boton_crear_clientes boton">
                <a href="{% url 'cliente_create' %}"> + </a>
            </div>
        </div>
    </div>

{% endblock %}