{% extends 'base.html' %}
{% load static %}
{% block contenido%}

        <div class="contenedor-principal-index">
            <div class="parte-izquierda">
                <img src="{% static 'images/productos.webp'%}" alt="Foto con diferentes productos tecnológicos" />
            </div>
            <div class="parte-derecha">
            <h1>Listado de productos:</h1>
                {% if mensaje %}
                    <div class="producto_eliminado" role="alert">
                        <a> Producto elimindo exitosamente</a>
                    </div>
                {% endif %}
                <ul>
                    {% for pr in listado_productos %}
                    <li class="listados">
                        <a href="{% url 'detail_pro' pr.cod_producto %}">
                        {{ pr.cod_producto }}: {{ pr.nombre_producto }} {{ pr.modelo }} <div class="boton_borrar" ><a href="{% url 'borrar_producto' pr.cod_producto %}"> Borrar </a></div>
                        </a>
                    </li>
                    {% endfor %}

                </ul>
                <div class="boton_crear">
                        <a  href="{% url 'producto_create' %}"> + </a>
                </div>
            </div>
        </div>

{% endblock %}