{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css'%}" />
    <link rel="stylesheet" href="{% static 'css/normalize.css'%}" />
    <title>Landing page E2</title>
</head>
<body>
    <header>
        <div class="navegacion">
            <nav class="nav-principal">
                <a href="{% url 'index_ped' %}">
                  <img src="{% static 'images/DEUSTRONIC.png' %}" alt="Logo Tienda" />
                </a>
                <ul class="elementos-navegacion">
                  <li>
                    <a href="{% url 'index_ped' %}">Gestión de pedidos</a>
                  </li>
                  <li>
                    <a href="{% url 'index_pro' %}">Gestión de productos</a>
                  </li>
                  <li>
                    <a href="{% url 'index_cli' %}">Gestión de clientes</a>
                  </li>
                </ul>
            </nav>
        </div>
    </header>


     <main>

        <div class="contenedor-principal-index">
            <div class="parte-izquierda">
                <img src="{% static 'images/Escritorio.jpeg'%}" alt="Foto con artículos tecnológicos en un escritorio" />
            </div>
            <div class="parte-derecha">
            <h1>Listado de productos:</h1>
                {% if mensaje %}
                    <div class="producto_eliminado" role="alert">
                        <a> Producto elimindo exitosamente</a>
                    </div>
                {% endif %}
                <ul>
                    {% for pr in listado_productos %}
                    <li class="listados">
                        <a href="{% url 'detail_pro' pr.cod_producto %}">
                        {{ pr.cod_producto }}: {{ pr.nombre_producto }} {{ pr.modelo }} <div class="boton_borrar" ><a href="{% url 'borrar_producto' pr.cod_producto %}"> Borrar </a></div>
                        </a>
                    </li>
                    {% endfor %}

                </ul>
                <div class="boton_crear">
                        <a  href="{% url 'producto_create' %}"> + </a>
                </div>
            </div>
        </div>

     </main>

    <footer>
        <div class="contenido-footer">
            <p class="copyright">Todos los derechos reservados</p>
            <img src="{% static 'images/DEUSTRONIC.png'%}" alt="Logo Tienda" />
        </div>
    </footer>


</body>
</html>