{% extends 'base.html' %}
{% load static %}
{% block contenido %}

    <div class="contenedor-principal-index">
        <div class="parte-izquierda">
            <img src="{% static 'images/pedidos.png' %}" alt="Foto con un carrito de la compra simbolizando un pedido"/>
        </div>
        <div class="parte-derecha">
            <h1>Listado de pedidos:</h1>
            <ul>
                {% if mensaje %}
                    <div class="producto_eliminado" role="alert">
                        <a> Pedido elimindo exitosamente</a>
                    </div>
                {% endif %}

                {% for p in listado_pedidos %}
                    <li class="listados">
                        <a href="{% url 'detail_ped' p.cod_pedido %}">
                            {{ p.cod_pedido }}: {{ p.fecha }}
                        </a>
                        <div class="boton_borrar"><a href="{% url 'borrar_pedido' p.cod_pedido %}"> Borrar </a></div>
                        <div class="boton_estado"><a href="{% url 'index_pro' p.cod_pedido %}" data-cod_pedido="{{ p.cod_pedido }}"> Estado </a></div>

                        <div class="boton_actualizar"><a href="{% url 'actualizar_pedido' p.cod_pedido %}">
                            Actualizar </a></div>
                    </li>
                {% endfor %}
                {% if is_paginated %}
                    <div class="contenedor-paginacion">
                        <ul class="paginacion">
                            {% if page_obj.has_previous %}
                                <li class="pagina">
                                <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                                </li>
                            {% endif %}

                            {% for pagina in paginator.page_range %}
                                {% if page_obj.number == pagina %}
                                    <li class="pagina pagina-actual">
                                        <a href="?page={{ pagina }}">{{ pagina }}</a>
                                    </li>
                                {% else %}
                                    <li class="pagina">
                                        <a href="?page={{ pagina }}">{{ pagina }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}

                            {% if page_obj.has_next %}
                                <li class="pagina">
                                    <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                {% endif %}



            </ul>
            <div class="boton_crear_pedidos">
                <a href="{% url 'pedido_create' %}"> + </a>
            </div>
        </div>
    </div>

{% endblock %}