<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="css/normalize.css" />
    <title>Landing page E2</title>
</head>
<body>
    <header>
        <div class="navegacion">
            <nav class="nav-principal">
                <a href="Landing-page.html">
                  <img src="images/DEUSTRONIC.png" alt="Logo Tienda" />
                </a>
                <ul class="elementos-navegacion">
                  <li>
                    <a href="gestion_pedidos.html">Gestión de pedidos</a>
                  </li>
                  <li>
                    <a href="gestion_productos.html">Gestión de productos</a>
                  </li>
                  <li>
                    <a href="index_cliente.html">Gestión de clientes</a>
                  </li>
                </ul>
            </nav>
        </div>
    </header>

    
     <main>

        <div class="contenedor-principal">
            <div class="parte-izquierda">
                <img src="images/Escritorio.jpeg" alt="Foto con articulos tecnologicos en un escritorio">
            </div>
            <div class="parte-derecha">
                <a href="gestion_productos.html">
                    <button class="boton-gestion-productos">Empieza a gestionar productos!</button>
                </a>
            </div>
        </div>

     </main>

    <footer>
        <div class="contenido-footer">
            <p class="copyright">Todos los derechos reservados</p>
            <img src="images/DEUSTRONIC.png" alt="logo-tienda" />
        </div>
    </footer>


</body>
</html>