{% extends 'base.html' %}
{% load static %}
{% block contenido %}

    <div class="contenedor-principal-formularios">
        <div class="formularios">
            <h1>Nuevo pedido:</h1>
            <form class="formularios_contenido" action="{% url 'pedido_create' %}" method="post">
                {% csrf_token %}
                {{ formulario.errors }}
                {{ formulario.as_ul }}
                <input class="boton_nuevo" type="submit" value="Siguiente">
            </form>
        </div>
    </div>
{% endblock %}