{% extends 'base.html' %}
{% load static %}
{% block contenido %}

    <div class="contenedor-principal-formularios">
        <div class="formularios">
            <h1>¿Qué producto quieres añadir?</h1>
            <form class="formularios_contenido" action="{% url 'pedidoproducto_create' cod_pedido=cod_pedido %}"
                  method="post">
                {% csrf_token %}
                {{ formulario.errors }}
                {{ formulario.as_ul }}
                <input class="boton_filtrar" type="submit" value="Añadir producto al pedido">
            </form>
        </div>
    </div>

{% endblock %}