{% extends 'base.html' %}
{% load static %}
{% block contenido %}

    <div class="contenedor-principal-formularios">
        <div class="formularios">
            <form class="formularios_contenido" action="{% url 'producto_create' %}" method="post">
                {% csrf_token %}
                {{ formulario.errors }}
                {{ formulario.as_ul }}
                <input class="boton_filtrar" type="submit" value="Nuevo producto">

            </form>
        </div>
    </div>

{% endblock %}