html {
    box-sizing: border-box;
    font-size: 62.5%;
    background-color: white; /*POR DECIDIR*/

  }
  
  *,
  *:before,
  *after {
    box-sizing: inherit;
  }

  a {
    text-decoration: none;
  }


/*HEADER*/
  .nav-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #2e2c2c83;
    margin: 0 5rem 0 5rem;
  }

@media (max-width:769px) {
  .nav-principal {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width:769px) {
  .navegacion{
    margin: 0;
  }
}
  .nav-principal img {
    height: 10rem;
  }
  .nav-principal a {
    color: rgb(0, 0, 0);
    margin-left: 3rem;
    margin-right: 3rem;
    text-align: center;
  }
  .nav-principal li {
    text-align: center;
  }
  
  .elementos-navegacion {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    padding: 0;
    margin-left: 7rem;
  }

@media (max-width:769px) {
  .elementos-navegacion{
    flex-direction: column;
    justify-content: center;
    font-size: 1.5rem;
    margin-left: 0;
  }
}

@media (max-width:391px) {
  .elemento{
    justify-content: center;
    text-align: center;
  }
}
@media (max-width:391px) {
  .elemento a{
    justify-content: center;
    text-align: center;
  }
}

  /*INDEX*/
  .contenedor-principal-index{
    margin: 2rem 5rem 2rem 5rem;
    display: grid;
    min-height: 40rem;
    grid-template-columns: 60% 40%;
  }
@media (max-width:769px) {
  .contenedor-principal-index{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}
  .parte-izquierda{
    margin-left: 2rem;
  }
  .parte-izquierda img{
    border-radius: 2rem;
    width: 60rem;
    height: 37rem;
  }
  @media (max-width:391px) {
  .parte-izquierda img{
    width: 30rem;
    height: 20rem;
  }
}
  .parte-derecha{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .listados{
    font-size: 2rem;
    margin-bottom: 1rem;
    display: flex;
  }
@media (max-width:391px) {
  .listados{
    font-size: 1rem;
  }
}

  .producto_eliminado{
    font-size: 2rem;
    margin: 2rem;
    background-color: #5DE558;
  }

  .producto_eliminado a{
    color: white;
  }

  /*DETAIL_PEDIDOS*/
  .contenedor-principal-detail{
    margin: 2rem 5rem 2rem 5rem;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .contenedor-central{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 50rem;
    min-height: 40rem;
    border-radius: 1.5rem;
    border: 1px solid grey;
    background-color: rgba(97, 93, 167, 0.3);
  }
  .contenedor-central h1{
    padding-bottom: 2rem;
  }
  .detalle-pedidos{
    margin: 1rem;
    margin-left: 3rem;
    font-size: 2rem;
    text-align: center;
  }
  .detalle-pedidos td{
    width: 15rem;
    padding-bottom: 2rem;
  }

  .boton_crear{
    font-size: 4rem;
    font-weight: bolder;
    background-color: #1DA5FE;
    border-radius: 1rem;
    margin-left: 3rem;
    margin-right: 18rem;
    margin-top: 1rem;

  }
  .boton_crear a{
    color: white;
    margin-left: 1rem;
    margin-right: 1rem;
  }

    .boton_crear_clientes{
    font-size: 4rem;
    font-weight: bolder;
    background-color: #1DA5FE;
    border-radius: 1rem;
    margin-left: 3rem;
    margin-right: 2rem;
    margin-top: 1rem;

  }
  .boton_crear_clientes a{
    color: white;
    margin-left: 1rem;
    margin-right: 1rem;
  }

.boton_crear_pedidos{
    font-size: 4rem;
    font-weight: bolder;
    background-color: #1DA5FE;
    border-radius: 1rem;
    margin-left: 3rem;
    margin-right: 6rem;
    margin-top: 1rem;

  }
  .boton_crear_pedidos a{
    color: white;
    margin-left: 1rem;
    margin-right: 1rem;
  }


  .boton_borrar{
    font-size: 2.5rem;
    font-weight: bolder;
    background-color: #1DA5FE;
    border-radius: 1rem;
    margin-left: 4rem;
    text-align: center;

  }

  .boton_borrar a{
    color: white;
    font-size: 2rem;
  }
  .boton_actualizar{
    font-size: 2.5rem;
    font-weight: bolder;
    background-color: #1DA5FE;
    border-radius: 1rem;
    margin-left: 4rem;
    text-align: center;

  }

  .boton_actualizar a{
    color: white;
    font-size: 2rem;
  }


  /*DETAIL_PRODUCTOS*/
  .detalle-productos{
    margin: 1rem;
    margin-left: 3rem;
    font-size: 2rem;
    text-align: center;
    width: 60rem;
  }
  .detalle-productos td{
    width: 15rem;
    padding-bottom: 2rem;
  }

  /*DETAIL_CLIENTES*/
  .detalle-clientes{
    margin: 1rem 1rem 1rem 3rem;
    font-size: 2rem;
    text-align: center;
  }
  .detalle-clientes td{
    width: 15rem;
    padding-bottom: 2rem;
  }

  /*DETAIL_COMPONENTES*/
  .detalle-componentes{
    margin: 1rem 1rem 1rem 3rem;
    font-size: 2rem;
    text-align: center;
  }
  .detalle-componentes td{
    width: 15rem;
    padding-bottom: 2rem;
  }

  /*FORMULARIOS*/
  .contenedor-principal-formularios{
    margin: 2rem 5rem 2rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 40rem;
  }
  .formularios h1{
    text-align: center;
    margin-bottom: 0;
  }
  .formularios{
    border: 1px solid grey;
    border-radius: 2rem;
    background-color: #1DA5FE;
    color: aliceblue;
    min-width: 40rem;
  }
@media (max-width:391px) {
  .formularios{
    width: max-content;
  }
}
  .formularios_contenido li{
    padding-top: 0.5rem;
    margin: 1rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.5rem;
  }
  .formularios_contenido label{
    padding-bottom: 1rem;
  }
  .formularios_contenido input{
    text-align: center;
  }
  .formularios_contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .boton_nuevo{
    margin-top: 2rem;
    background-color: aliceblue;
    font-size: 1.5rem;
    border-radius: 1rem;
    height: 3rem;
  }
  .respuestas{
    display: flex;
    flex-direction: row;
    padding: 4rem;
  }
  .respuestas input{
    margin: 2rem;
    width: 5rem;
    height: 4rem;
    font-size: 1.5rem;
  }

  /*FOOTER*/
  .contenido-footer{
    margin: 0 5rem 0 5rem;
    text-align: center;
    align-items: center;
    border-top: 1px solid #2e2c2c83;
  }
  .contenido-footer img{
    height: 3rem;
  }